body {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items:center;
   min-height: 100vh;
   font-family: 'Jost', sans-serif;
   background:URL("h.jpg") no-repeat center/cover; 
}

.main{
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background:URL("c.jpg") no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk{
  display: none;
}
.Love{
  position: center;
  width: 100%;
  height: 100%;
}
label{
  color: black;
  font-size: 1.3cm;
    font-family: sans-serif;
  justify-content: center;
  display: flex;
  margin: 60px;
  cursor: pointer;
  transition: .5s ease-in-out;
}
input{
  width: 60px;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button{
  width: 20%;
  height: 60px;
position:relative;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1cm;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
button:hover{
  background: #6d44b8;
}

.login{
  height: 460px;
  background: #eee;
  border-radius: 60%/ 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}

.Login label{
  color:#573b8a;
  transform: scale(.6);
}

#chk:checked ~ .Login{
  transform: translateY(-500px);
}

#chk:checked ~.Login label{
  transform: scale(1);
}

#chk:checked ~.Signup label{
  transform: scale(.6);
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
